@charset "UTF-8";

.bg-img{
  background-image: url("./img/img3.png");
  height: 850px;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  overflow: hidden;
}